#love{
color: white;
background-image: url(https://static.wixstatic.com/media/9a63e7_e961633711b44c60b918269228496ab1~mv2.gif);
background-size: cover;
}

.container-fluid{
  color: white;
  padding: 3% 15% 7%;
}

.image-pro{
  width: 60%;
  right: 45%;
  margin-left: 40%;
}

.container-fluid{
padding: 2% 7%;
}

.bit{
  padding: 0 7%;
}

.botton-styles{
  margin: 10px 10px 20px 0;
}

h1{
  margin-bottom: 20px;
  font-family:"Montserrat-bold";
  font-size: 3.5rem;
  line-height: 1.5;
}

p{
  font-family:"Montserrat-bold";
  line-height: 1.5;
}

#inves-plans{
  padding: 5% 10%;
  background-color: #082032;
  background-image: url(https://miro.medium.com/max/2000/1*R0jvlCUMHsHb-8zma-cE2Q.gif);
  background-size: cover;

}
.invest-tex{
  text-align: center;
  padding: 6%;
  color: white;
  line-height: 1.5;
}

.attestaion{
  text-align: left;
  padding: 3% 20%;
  line-height: 1.5;
  font-size: 1.5rem;
}

.headered{
  margin-bottom: 30px;
  color: black;
}

.headereder{
  color: grey;
}



.photo{
  width: 5%;
  height: 30%;}


  #wordings{

    background-size: cover;

  }

#testimonial{
  padding: 3% 7%;
  background-color: #082032;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/57/2f/13/572f13e91ce915a722f9387fe7d52e31.gif);
  background-size: cover;
}
